@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;500;600;700;800;900&display=swap');

* {
  /* font-family: 'MuseoModerno', cursive; */
  font-family: 'Lexend', sans-serif;
  margin: 0px;
  ;
}

input,
textarea,
button,
select,
div,
a {
  -webkit-tap-highlight-color: transparent;
}


h4 {
  margin-bottom: 0px;
}

.cartDiv {
  visibility: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  height: 430px;
  width: 330px;
  background-color: #ffffff;
  z-index: 58;
  border-radius: 1%;
}
.cartDiv > b{
  top: 0;
  padding: 15px;
  display: flex;
  font-weight: 600;
  font-size: large;
  justify-content: space-between;
}
#closeCart{
  cursor: pointer;
}
.shopListing{
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  flex-direction: column;
  margin: 20px;
  height: 300px;
  overflow-y: scroll;
  background-color: #fdfafa;
}
.cartList{
  border-bottom: 1px solid #000;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cartList > img{
  height: 80px;
  width: 80px;
}
.cartList > span{
  font-size: x-large;
}

.ui{
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}
.ui > button{
  cursor: pointer;
  z-index: 90;
  height: 30px;
  border: none;
  background-color: #d0d0d0;
}

.navBar {
  height: 50px;
  width: 100%;
  margin: 0px;
  display: flex;
  position: fixed;
  z-index: 50;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  background-color: #2e3c4c;
  color: #e4e4ff;
}

.navBar>div {
  font-size: large;
  font-weight: 500;
}

.navBar>span {
  cursor: pointer;
}

.titleMenu {
  display: flex;
  align-items: center;
  margin-left: 10px;
  gap: 2px;
}

.titleMenu>span {
  cursor: pointer;
  display: block;
}

.titleMenu>a {
  text-decoration: none;
  color: #e4e4ff;
}

.searchBar {
  display: flex;
  gap: 2px;
}

.searchBar>a>span {
  text-decoration: none;
  color: #e4e4ff;
}

.searchBar>span {
  margin: 0px 4px;
  cursor: pointer;
}

.searchBarInput {
  padding: 4px;
  background-color: #e8e8e8;
  border: 0px solid #000;
  border-radius: 5px;
}

.otherPages {
  height: 100vh;
  padding-right: 75px;
  padding-left: 40px;
  padding-top: 36px;
  overflow: hidden;
  background-color: #2e3c4c;
  position: fixed;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  gap: 10px;
  z-index: 90;
  padding-bottom: 17px;
  top: 0px;
}

.otherPages>span {
  cursor: pointer;
}

.otherPages>a {
  width: min-content;
  text-decoration: none;
  color: #d8dde2;
}

.otherPages>a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.blackOverlay {
  height: 1000vh;
  width: 100vw;
  background-color: #000;
  opacity: 0%;
  z-index: 85;
  position: fixed;
  pointer-events: none;
}

header {
  height: 500px;
}

.landingText {
  margin-bottom: 10px;
  height: 500px;
  background-image: url("https://source.unsplash.com/6CJg-fOTYs4");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landingTextPH1 {
  padding-top: 90px;
  padding-left: 30px;
}

.filterBar {
  display: flex;
  overflow-x: scroll;
}

.filterBar a {
  text-decoration: none;
  color: #1e1d1d;
}

.filterBar div {
  min-width: 68px;
  width: fit-content;
  text-align: center;
  background-color: #e4e4ff;
  border-radius: 40px;
  margin: 8px;
  display: table;
  padding: 10px;
}

.productGrid {
  display: grid;
  margin: 25px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 1rem;
}

.tile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: visible;
  z-index: 10;
}

.tile>p {
  margin-top: -406px;
  padding: 15px;
  font-weight: 700;
  font-size: large;
  position: absolute;
}

.tile:nth-child(1) {
  grid-column: span 2;
  grid-row: span 6;
}

.tile:nth-child(2),
.tile:nth-child(3) {
  grid-column: span 1;
  grid-row: span 3;
  overflow: hidden;
}

.tile:nth-child(4),
.tile:nth-child(5) {
  grid-column: span 1;
  grid-row: span 3;
  overflow: hidden;
}

.affordableCat {
  margin: 25px;
}

.furnitureContent {
  padding-top: 80px;
}

.title1 {
  padding-bottom: 40px;
}

.title1>b {
  font-size: xx-large;
  padding-left: 20px;
  padding-right: 20px;
}

.title1>span {
  padding-left: 20px;
  padding-right: 20px;
}

.imgPanelFurniture {
  display: flex;
  gap: 15px;
  overflow-x: scroll;
  margin-left: 15px;
  margin-right: 15px;
}

.imgPanel {
  display: flex;
  gap: 15px;
  overflow-x: scroll;
  margin-top: 10px;
}

.panelTile img {
  height: 350px;
  width: 220px;
  object-fit: cover;
}

.newContainer {
  margin: 25px;
  /*  padding: 10px; */
}

.new {
  display: flex;
  overflow-x: scroll;
  gap: 5px;
  margin-top: 10px;
}

.newTile img {
  height: 400px;
  width: 320px;
  object-fit: cover;
}

.filterBarDiv {
  cursor: pointer;
}

.filterOutline {
  border: 1px solid #000;
}

.ideas {
  margin: 25px;
}

.ideas>span {
  font-size: x-large;
  line-height: 34px;
}

/* image gallery */
/* .imageGallery{
  background-color: #000;
} */

.row {
  display: flex;
  height: 980px;
  overflow: hidden;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */

.column {
  flex: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  position: inherit;
  overflow: hidden;
  z-index: 10;
}

.seeMore {
  height: 27px;
  margin-top: -15px;
  width: 100%;
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 40%, rgba(0, 212, 255, 0) 100%);
  display: flex;
  justify-content: space-around;
  position: relative;
  z-index: 15;
}

/* seeMore button */
#seeMore {
  cursor: pointer;
  display: block;
  border: none;
  font-size: larger;
  background-color: rgba(0, 0, 0, .0);
  padding: 15px;
}

#seeMore :hover {
  text-decoration: underline;
}

/* image gallery end*/

footer {
  margin: 0px;
  flex: 1 2;
}

.upperDiv {
  height: 40px;
  background-color: #37475a;
}

.mainFooter {
  height: fit-content;
  color: #e4e4ff;
  margin: 0px;
  background-color: #232f3e;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.mainAbout {
  width: auto;
}

.mainAbout p {
  font-weight: 300;
}

.list {
  display: flex;
  flex: auto;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  line-height: 25px;
}

.list li {
  list-style-type: none;
  font-weight: 300;
}

.list a {
  text-decoration: none;
  color: #e4e4ff;
  font-size: medium;
}

.list a:hover {
  text-decoration: underline;
}

.club {
  width: 150px;
}

.services {
  width: 175px;

}

.help {
  width: 150px;
}

.about {
  width: 175px;
}

.copyFooter {
  font-weight: 200;
  color: #e4e4ff;
  background-color: #232f3e;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 15px;
  text-align: center;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c7c7c7;
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  width: 5px;
  background: #bbbbbb;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a8a6a6;
}


/* affordableCategory css */

.cardFurniture {
  height: 520px;
  width: 300px;
  top: 0;
  display: grid;
  background-color: rgb(241, 241, 243);
  box-shadow: #ddd 1px 1px 8px;
}

.cardFurniture>img {
  height: 280px;
  width: 300px;
  object-fit: cover;
  overflow: hidden;
}

.card {
  height: 520px;
  width: 300px;
  top: 0;
  display: grid;
  background-color: #aad;
  box-shadow: #ddd 1px 1px 8px;
}

.card>img {
  height: 280px;
  width: 300px;
  object-fit: cover;
}

.cardTextFurniture {
  height: 160px;
  color: rgb(25, 25, 24);
  padding-left: 20px;
  padding-right: 20px;
  justify-content: start;
}

.cardTextFurniture>b {
  font-size: larger;
}

.cardTextFurniture>p {
  color: rgb(40, 40, 39);
  font-weight: 300;
}

.cardTextFurniture>div {
  margin-top: 20px;
}

.cardTextFurniture>div>p {
  font-size: x-large;
}

.cardText {
  height: 160px;
  color: beige;
  align-items: start;
  display: grid;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-around;
}

.cardText>b {
  font-size: larger;
  font-weight: 800;
}

.cardText>p {
  font-weight: 400;
}

.card>h {
  margin: 0px;
  padding: 0;
}


.cards {
  display: flex;
}

/* Utilities */


/* GOOGLE ICONS */
.iconFurniture {
  top: 50%;
  left: 50%;
  cursor: pointer;
  cursor: pointer;
  color: #1d1d1d;
  height: 50px;
  width: 50px;
  border-radius: 60%;
  display: grid;
  align-items: center;
  background-color: rgb(208, 208, 239);
  justify-items: center;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 48
}

/* GOOGLE ICONS END */
/* css arrow */

.icon {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 60px;
  cursor: pointer;
  margin-left: 10px;
  scale: 25%;
}

.arrow {
  position: absolute;
  top: 25px;
  width: 90%;
  height: 10px;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  animation: arrow 700ms linear infinite;
}

.arrow::after,
.arrow::before {
  content: '';
  position: absolute;
  width: 60%;
  height: 10px;
  right: -8px;
  background-color: #fff;
}

.arrow::after {
  top: -12px;
  transform: rotate(45deg);
}

.arrow::before {
  top: 12px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  transform: rotate(-45deg);
}

/* css arrow end */

@media only screen and (min-width: 1032px) {
  .cartDiv {
    height: 465px;
    width: 520px;
  }
  
  header {
    margin: 0px 25px;
    height: 490px;
  }

  .titleMenu {
    margin-left: 40px;
    gap: 10px;
  }

  .titleMenu>span {
    display: none;
  }

  .navBar>div {
    font-size: x-large;
    font-weight: 500;
  }

  .searchBar {
    gap: 10px;
    padding-right: 50px;
  }

  .searchBar>input {
    width: 350px;
  }

  .title1>b {
    padding-left: 40px;
    padding-right: 40px;
  }

  .title1>span {
    padding-left: 40px;
    padding-right: 40px;
  }

  .imgPanelFurniture {
    margin-left: 30px;
    margin-right: 30px;
  }

  .landingText {
    height: 490px;
    background-image: url("https://source.unsplash.com/6CJg-fOTYs4");
    background-position: 50% 80%;
    background-repeat: no-repeat;
    background-size: cover;
  }


  .mainFooter {
    height: 350px;
    color: #e4e4ff;
    margin: 0px;
    background-color: #232f3e;
    padding: 50px;
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  .mainAbout {
    width: 300px;
    line-height: 23px;
  }

  .list {
    display: flex;
    flex: auto;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    line-height: 25px;
  }

  /* affordableCategory css */
  .card {
    height: 520px;
    width: 300px;
    top: 0;
    display: grid;
    background-color: #aad;
    box-shadow: #ddd 1px 1px 8px;
  }

}


@media only screen and (max-width: 700px) {
  .tile>img {
    overflow: hidden;
  }

  .productGrid {
    margin: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    overflow: hidden;
  }

  .tile:nth-child(1) {
    grid-column: span 4;
    grid-row: span 1;
    height: 400px;
  }

  .tile:nth-child(2),
  .tile:nth-child(3) {
    grid-column: span 2;
    grid-row: span 1;
    overflow: hidden;
    height: 400px;
  }

  .tile:nth-child(4),
  .tile:nth-child(5) {
    grid-column: span 2;
    grid-row: span 1;
    overflow: hidden;
    height: 400px;
  }

  .column {
    flex: 40%;
  }
}

@media only screen and (max-width: 412px) {
  .tile>img {
    overflow: hidden;
  }

  .productGrid {
    margin: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    overflow: hidden;
  }

  .tile:nth-child(1) {
    grid-column: span 4;
    grid-row: span 1;
    overflow: hidden;
    height: 200px;
  }

  .tile:nth-child(1)>img {
    object-fit: cover;
    height: 400px;
    transform: translate(0px, -160px);
  }

  .tile:nth-child(2),
  .tile:nth-child(3) {
    grid-column: span 2;
    grid-row: span 1;
    overflow: hidden;
    height: 200px;
  }

  .tile:nth-child(4),
  .tile:nth-child(5) {
    grid-column: span 2;
    grid-row: span 1;
    overflow: hidden;
    height: 200px;
  }

  .affordableCat {
    margin: 10px;
  }

  .newContainer {
    margin: 10px;
    /*  padding: 10px; */
  }

  .ideas {
    margin: 10px;
  }

  .column {
    flex: 40%;
  }
}


/* image hotspot */